.displayNamesContainer {
    /* border: 2px solid black; */
    padding: 10px;
}

.displayNamesContainer span {
    font-size: 10px;
}

.fetchButton {
    font-size: 1.2em;
    background: none;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.fetchButton:hover {
    transition: 0.3s;
    border: 1px solid black;
    background-color: rgb(123, 207, 255);
}

#displayNamesMain {
    font-size: 1.1rem;
}

.viewerButtonDiv {
    display: grid;
    /* border: 2px solid black; */
    width: 10%;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#UDButton {
    background: none;
    padding: 10px;
    cursor: pointer;
}

.displayContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}